PORT=8000

CORS_ORIGIN=http://localhost:3000


FIREBASE_DATABASE_URL=

# You can find this in the Firebase Console -> Authentication -> Users table.
ADMIN_UID=

# Go to your Firebase project settings -> Service accounts -> Generate new private key.
FIREBASE_SERVICE_ACCOUNT_JSON=


FIREBASE_WEB_API_KEY= 
